*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(123, 215, 238);
}

.tictactoe{
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.board{
    height:50vmin;
    width:60vmin;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap:1vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 0.6rem;
    font-size:8vmin;
    color:rgb(240, 54, 54)
}

.reset{
    padding: 1rem;
    font-size: 1.25rem;
    color:aliceblue;
    background-color: rgb(31, 31, 36);
    border-radius: 0.8rem;
    border: none;
    cursor: pointer;
    display: inline-flex;
}
.reset1{
    width: 100%;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.msg-container{
    height:30vmin;
}
.hide{
    display:none;
}
#msg{
    color:white;
    font-size:5vmin;
}
#new-btn{
    height: 40px;
    width:100px;
    background-color: black;
    color:white;
    border-radius: 20%;
}